/Task1/nbproject/private/
/Task1/build/
/TASK/build/
/TASK/nbproject/private/
/TASK1/nbproject/private/
/TASK1/build/
/TASK2/nbproject/private/
/TASK2/build/
/TASK3/nbproject/private/
/TASK3/build/
/TASK4/nbproject/private/
/TASK4/build/
/TASK5/nbproject/private/
/TASK5/build/